$containerSize: 50vw;


body{
    background-color: rgb(110, 110, 110);
}

.alertBox{
    
    top: 60px;
    height: 50px;
    width: 150px;
    margin: 60px auto;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.541);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all;
    
}

.container{
    height: $containerSize;
    width: $containerSize;
    background-color: rgb(77, 77, 77);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-wrap: wrap;
    
}
.square{
    height: $containerSize/3;
    width: $containerSize/3;
    border: 1px solid #aaa;
    box-sizing: border-box;
    background-color: rgb(167, 20, 20);
    cursor: pointer;

}

.restartBtn{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.452);
    border-radius: 5px;
    color: #fff;
    border: none;
    font-size: 18px;

&:hover{
    cursor: pointer;
}
}

.circle{
    background-image: url(../circle-regular.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: none;
    pointer-events: none;
    
}
.times{
    background-image: url(../times-solid.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: none;
    pointer-events: none
}
.inactive{
    cursor: none;
    pointer-events: none
}

@keyframes alertBox{

  
    10%{
        opacity: 1;
        transform: scale(1.29);
    
        
    }
    90%{
        opacity: 1;
        transform: scale(1.29);
      
        
    }
   

}