@keyframes notificationAnimation{

    10%{
        opacity: 1;
        transform: scale(1.29);
        transform: translateY(0);
        
    }
    90%{
        opacity: 1;
        transform: scale(1.29);
        transform: translateY(0);
        
    }
   
}